################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.cr/personal/FavoritesList
/.vs
/bin/Debug
/obj
/SourceFuse.E-commerce.API/bin/Debug/net6.0
/SourceFuse.E-commerce.API/obj
/SourceFuse.E-commerce.API.IntegrationTest/bin/Debug/net6.0
/SourceFuse.E-commerce.API.IntegrationTest/obj
/SourceFuse.E-commerce.API.UnitTest/bin/Debug/net6.0
/SourceFuse.E-commerce.API.UnitTest/obj
/SourceFuse.E-commerce.Business/bin/Debug/net6.0
/SourceFuse.E-commerce.Business/obj
/SourceFuse.E-commerce.Common/bin/Debug/net6.0
/SourceFuse.E-commerce.Common/obj
/SourceFuse.E-commerce.Core/bin/Debug/net6.0
/SourceFuse.E-commerce.Core/obj
/SourceFuse.E-commerce.DTO/bin/Debug/net6.0
/SourceFuse.E-commerce.DTO/obj
/SourceFuse.E-commerce.Entities/bin/Debug/net6.0
/SourceFuse.E-commerce.Entities/obj
/SourceFuse.E-commerce.Persistence/bin/Debug/net6.0
/SourceFuse.E-commerce.Persistence/obj
/SourceFuse.E-commerce.Business.UnitTest
/SourceFuse.E-commerce.Model
/SourceFuse.E-commerce.Services
